polars tutorial 1

https://www.youtube.com/watch?v=3RuYcXWIcoY&list=PLo9Vi5B84_dfAuwJqNYG4XhZMrGTF3sBx&index=2

In [1]:
import polars as pl
import pandas as pd
import numpy as np
import pyarrow

import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
data_file = "/Users/alex/.cache/kagglehub/datasets/mkechinov/ecommerce-behavior-data-from-multi-category-store/versions/8/2019-Nov.csv"

# read 5gb csv file

In [3]:
df = pl.read_csv(data_file)

# basic ops

In [4]:
df.shape

(67501979, 9)

# print options

In [5]:
df.head()

shape: (5, 9)
┌────────────┬────────────┬────────────┬────────────┬───┬────────┬────────┬───────────┬────────────┐
│ event_time ┆ event_type ┆ product_id ┆ category_i ┆ … ┆ brand  ┆ price  ┆ user_id   ┆ user_sessi │
│ ---        ┆ ---        ┆ ---        ┆ d          ┆   ┆ ---    ┆ ---    ┆ ---       ┆ on         │
│ str        ┆ str        ┆ i64        ┆ ---        ┆   ┆ str    ┆ f64    ┆ i64       ┆ ---        │
│            ┆            ┆            ┆ i64        ┆   ┆        ┆        ┆           ┆ str        │
╞════════════╪════════════╪════════════╪════════════╪═══╪════════╪════════╪═══════════╪════════════╡
│ 2019-11-01 ┆ view       ┆ 1003461    ┆ 2053013555 ┆ … ┆ xiaomi ┆ 489.07 ┆ 520088904 ┆ 4d3b30da-a │
│ 00:00:00   ┆            ┆            ┆ 631882655  ┆   ┆        ┆        ┆           ┆ 5e4-49df-b │
│ UTC        ┆            ┆            ┆            ┆   ┆        ┆        ┆           ┆ 1a8-ba5943 │
│            ┆            ┆            ┆            ┆   ┆        ┆        ┆           ┆ …          │
│ 2019-11-01 ┆ view       ┆ 5000088    ┆ 2053013566 ┆ … ┆ janome ┆ 293.65 ┆ 530496790 ┆ 8e5f4f83-3 │
│ 00:00:00   ┆            ┆            ┆ 100866035  ┆   ┆        ┆        ┆           ┆ 66c-4f70-8 │
│ UTC        ┆            ┆            ┆            ┆   ┆        ┆        ┆           ┆ 60e-ca7417 │
│            ┆            ┆            ┆            ┆   ┆        ┆        ┆           ┆ …          │
│ 2019-11-01 ┆ view       ┆ 17302664   ┆ 2053013553 ┆ … ┆ creed  ┆ 28.31  ┆ 561587266 ┆ 755422e7-9 │
│ 00:00:01   ┆            ┆            ┆ 853497655  ┆   ┆        ┆        ┆           ┆ 040-477b-9 │
│ UTC        ┆            ┆            ┆            ┆   ┆        ┆        ┆           ┆ bd2-6a6e8f │
│            ┆            ┆            ┆            ┆   ┆        ┆        ┆           ┆ …          │
│ 2019-11-01 ┆ view       ┆ 3601530    ┆ 2053013563 ┆ … ┆ lg     ┆ 712.87 ┆ 518085591 ┆ 3bfb58cd-7 │
│ 00:00:01   ┆            ┆            ┆ 810775923  ┆   ┆        ┆        ┆           ┆ 892-48cc-8 │
│ UTC        ┆            ┆            ┆            ┆   ┆        ┆        ┆           ┆ 020-2f17e6 │
│            ┆            ┆            ┆            ┆   ┆        ┆        ┆           ┆ …          │
│ 2019-11-01 ┆ view       ┆ 1004775    ┆ 2053013555 ┆ … ┆ xiaomi ┆ 183.27 ┆ 558856683 ┆ 313628f1-6 │
│ 00:00:01   ┆            ┆            ┆ 631882655  ┆   ┆        ┆        ┆           ┆ 8b8-460d-8 │
│ UTC        ┆            ┆            ┆            ┆   ┆        ┆        ┆           ┆ 4f6-cec7a8 │
│            ┆            ┆            ┆            ┆   ┆        ┆        ┆           ┆ …          │
└────────────┴────────────┴────────────┴────────────┴───┴────────┴────────┴───────────┴────────────┘

In [6]:
print(df.head(2))

shape: (2, 9)
┌────────────┬────────────┬────────────┬────────────┬───┬────────┬────────┬───────────┬────────────┐
│ event_time ┆ event_type ┆ product_id ┆ category_i ┆ … ┆ brand  ┆ price  ┆ user_id   ┆ user_sessi │
│ ---        ┆ ---        ┆ ---        ┆ d          ┆   ┆ ---    ┆ ---    ┆ ---       ┆ on         │
│ str        ┆ str        ┆ i64        ┆ ---        ┆   ┆ str    ┆ f64    ┆ i64       ┆ ---        │
│            ┆            ┆            ┆ i64        ┆   ┆        ┆        ┆           ┆ str        │
╞════════════╪════════════╪════════════╪════════════╪═══╪════════╪════════╪═══════════╪════════════╡
│ 2019-11-01 ┆ view       ┆ 1003461    ┆ 2053013555 ┆ … ┆ xiaomi ┆ 489.07 ┆ 520088904 ┆ 4d3b30da-a │
│ 00:00:00   ┆            ┆            ┆ 631882655  ┆   ┆        ┆        ┆           ┆ 5e4-49df-b │
│ UTC        ┆            ┆            ┆            ┆   ┆        ┆        ┆           ┆ 1a8-ba5943 │
│            ┆            ┆            ┆            ┆   ┆        ┆        ┆           ┆ …          │
│ 2019-11-01 ┆ view       ┆ 5000088    ┆ 2053013566 ┆ … ┆ janome ┆ 293.65 ┆ 530496790 ┆ 8e5f4f83-3 │
│ 00:00:00   ┆            ┆            ┆ 100866035  ┆   ┆        ┆        ┆           ┆ 66c-4f70-8 │
│ UTC        ┆            ┆            ┆            ┆   ┆        ┆        ┆           ┆ 60e-ca7417 │
│            ┆            ┆            ┆            ┆   ┆        ┆        ┆           ┆ …          │
└────────────┴────────────┴────────────┴────────────┴───┴────────┴────────┴───────────┴────────────┘

In [7]:
df.dtypes

[String, String, Int64, Int64, String, String, Float64, Int64, String]

In [8]:
df.head().to_pandas()

,event_time,event_type,product_id,category_id,category_code,brand,price,user_id,user_session
0,2019-11-01 00:00:00 UTC,view,1003461,2053013555631882655,electronics.smartphone,xiaomi,489.07,520088904,4d3b30da-a5e4-49df-b1a8-ba5943f1dd33
1,2019-11-01 00:00:00 UTC,view,5000088,2053013566100866035,appliances.sewing_machine,janome,293.65,530496790,8e5f4f83-366c-4f70-860e-ca7417414283
2,2019-11-01 00:00:01 UTC,view,17302664,2053013553853497655,None,creed,28.31,561587266,755422e7-9040-477b-9bd2-6a6e8fd97387
3,2019-11-01 00:00:01 UTC,view,3601530,2053013563810775923,appliances.kitchen.washer,lg,712.87,518085591,3bfb58cd-7892-48cc-8020-2f17e6de6e7f
4,2019-11-01 00:00:01 UTC,view,1004775,2053013555631882655,electronics.smartphone,xiaomi,183.27,558856683,313628f1-68b8-460d-84f6-cec7a8796ef2

# selecting and filtering data
like SELECT and WHERE in SQL

### 1. indexing with [ works but is an 'anti-pattern' in polars

In [9]:
df[0,:]

shape: (1, 9)
┌────────────┬────────────┬────────────┬────────────┬───┬────────┬────────┬───────────┬────────────┐
│ event_time ┆ event_type ┆ product_id ┆ category_i ┆ … ┆ brand  ┆ price  ┆ user_id   ┆ user_sessi │
│ ---        ┆ ---        ┆ ---        ┆ d          ┆   ┆ ---    ┆ ---    ┆ ---       ┆ on         │
│ str        ┆ str        ┆ i64        ┆ ---        ┆   ┆ str    ┆ f64    ┆ i64       ┆ ---        │
│            ┆            ┆            ┆ i64        ┆   ┆        ┆        ┆           ┆ str        │
╞════════════╪════════════╪════════════╪════════════╪═══╪════════╪════════╪═══════════╪════════════╡
│ 2019-11-01 ┆ view       ┆ 1003461    ┆ 2053013555 ┆ … ┆ xiaomi ┆ 489.07 ┆ 520088904 ┆ 4d3b30da-a │
│ 00:00:00   ┆            ┆            ┆ 631882655  ┆   ┆        ┆        ┆           ┆ 5e4-49df-b │
│ UTC        ┆            ┆            ┆            ┆   ┆        ┆        ┆           ┆ 1a8-ba5943 │
│            ┆            ┆            ┆            ┆   ┆        ┆        ┆           ┆ …          │
└────────────┴────────────┴────────────┴────────────┴───┴────────┴────────┴───────────┴────────────┘

In [10]:
df[:,['event_time', 'price']].head()

shape: (5, 2)
┌─────────────────────────┬────────┐
│ event_time              ┆ price  │
│ ---                     ┆ ---    │
│ str                     ┆ f64    │
╞═════════════════════════╪════════╡
│ 2019-11-01 00:00:00 UTC ┆ 489.07 │
│ 2019-11-01 00:00:00 UTC ┆ 293.65 │
│ 2019-11-01 00:00:01 UTC ┆ 28.31  │
│ 2019-11-01 00:00:01 UTC ┆ 712.87 │
│ 2019-11-01 00:00:01 UTC ┆ 183.27 │
└─────────────────────────┴────────┘

In [12]:
# works but looks awful
df.filter(df["price"] > 1_000).head()

shape: (5, 9)
┌────────────┬────────────┬────────────┬────────────┬───┬───────┬─────────┬───────────┬────────────┐
│ event_time ┆ event_type ┆ product_id ┆ category_i ┆ … ┆ brand ┆ price   ┆ user_id   ┆ user_sessi │
│ ---        ┆ ---        ┆ ---        ┆ d          ┆   ┆ ---   ┆ ---     ┆ ---       ┆ on         │
│ str        ┆ str        ┆ i64        ┆ ---        ┆   ┆ str   ┆ f64     ┆ i64       ┆ ---        │
│            ┆            ┆            ┆ i64        ┆   ┆       ┆         ┆           ┆ str        │
╞════════════╪════════════╪════════════╪════════════╪═══╪═══════╪═════════╪═══════════╪════════════╡
│ 2019-11-01 ┆ view       ┆ 1004237    ┆ 2053013555 ┆ … ┆ apple ┆ 1091.33 ┆ 565404816 ┆ d9cf0ac4-c │
│ 00:00:27   ┆            ┆            ┆ 631882655  ┆   ┆       ┆         ┆           ┆ 3ec-4e1f-8 │
│ UTC        ┆            ┆            ┆            ┆   ┆       ┆         ┆           ┆ 3aa-326b1e │
│            ┆            ┆            ┆            ┆   ┆       ┆         ┆           ┆ …          │
│ 2019-11-01 ┆ view       ┆ 1005116    ┆ 2053013555 ┆ … ┆ apple ┆ 1013.86 ┆ 532647354 ┆ d2d3d2c6-6 │
│ 00:00:40   ┆            ┆            ┆ 631882655  ┆   ┆       ┆         ┆           ┆ 31d-489e-9 │
│ UTC        ┆            ┆            ┆            ┆   ┆       ┆         ┆           ┆ fb5-06f340 │
│            ┆            ┆            ┆            ┆   ┆       ┆         ┆           ┆ …          │
│ 2019-11-01 ┆ view       ┆ 1004241    ┆ 2053013555 ┆ … ┆ apple ┆ 1173.6  ┆ 565404816 ┆ d9cf0ac4-c │
│ 00:00:41   ┆            ┆            ┆ 631882655  ┆   ┆       ┆         ┆           ┆ 3ec-4e1f-8 │
│ UTC        ┆            ┆            ┆            ┆   ┆       ┆         ┆           ┆ 3aa-326b1e │
│            ┆            ┆            ┆            ┆   ┆       ┆         ┆           ┆ …          │
│ 2019-11-01 ┆ view       ┆ 1004237    ┆ 2053013555 ┆ … ┆ apple ┆ 1091.33 ┆ 519277091 ┆ 62fadce6-a │
│ 00:00:41   ┆            ┆            ┆ 631882655  ┆   ┆       ┆         ┆           ┆ a4a-4dde-9 │
│ UTC        ┆            ┆            ┆            ┆   ┆       ┆         ┆           ┆ 2fc-c04c22 │
│            ┆            ┆            ┆            ┆   ┆       ┆         ┆           ┆ …          │
│ 2019-11-01 ┆ view       ┆ 1307012    ┆ 2053013558 ┆ … ┆ apple ┆ 2342.15 ┆ 530857208 ┆ c69f9c63-7 │
│ 00:00:51   ┆            ┆            ┆ 920217191  ┆   ┆       ┆         ┆           ┆ 098-426c-9 │
│ UTC        ┆            ┆            ┆            ┆   ┆       ┆         ┆           ┆ 7d9-8cb94a │
│            ┆            ┆            ┆            ┆   ┆       ┆         ┆           ┆ …          │
└────────────┴────────────┴────────────┴────────────┴───┴───────┴─────────┴───────────┴────────────┘

In [13]:
# better to use this
df.filter(pl.col("price") > 1_000).head()

shape: (5, 9)
┌────────────┬────────────┬────────────┬────────────┬───┬───────┬─────────┬───────────┬────────────┐
│ event_time ┆ event_type ┆ product_id ┆ category_i ┆ … ┆ brand ┆ price   ┆ user_id   ┆ user_sessi │
│ ---        ┆ ---        ┆ ---        ┆ d          ┆   ┆ ---   ┆ ---     ┆ ---       ┆ on         │
│ str        ┆ str        ┆ i64        ┆ ---        ┆   ┆ str   ┆ f64     ┆ i64       ┆ ---        │
│            ┆            ┆            ┆ i64        ┆   ┆       ┆         ┆           ┆ str        │
╞════════════╪════════════╪════════════╪════════════╪═══╪═══════╪═════════╪═══════════╪════════════╡
│ 2019-11-01 ┆ view       ┆ 1004237    ┆ 2053013555 ┆ … ┆ apple ┆ 1091.33 ┆ 565404816 ┆ d9cf0ac4-c │
│ 00:00:27   ┆            ┆            ┆ 631882655  ┆   ┆       ┆         ┆           ┆ 3ec-4e1f-8 │
│ UTC        ┆            ┆            ┆            ┆   ┆       ┆         ┆           ┆ 3aa-326b1e │
│            ┆            ┆            ┆            ┆   ┆       ┆         ┆           ┆ …          │
│ 2019-11-01 ┆ view       ┆ 1005116    ┆ 2053013555 ┆ … ┆ apple ┆ 1013.86 ┆ 532647354 ┆ d2d3d2c6-6 │
│ 00:00:40   ┆            ┆            ┆ 631882655  ┆   ┆       ┆         ┆           ┆ 31d-489e-9 │
│ UTC        ┆            ┆            ┆            ┆   ┆       ┆         ┆           ┆ fb5-06f340 │
│            ┆            ┆            ┆            ┆   ┆       ┆         ┆           ┆ …          │
│ 2019-11-01 ┆ view       ┆ 1004241    ┆ 2053013555 ┆ … ┆ apple ┆ 1173.6  ┆ 565404816 ┆ d9cf0ac4-c │
│ 00:00:41   ┆            ┆            ┆ 631882655  ┆   ┆       ┆         ┆           ┆ 3ec-4e1f-8 │
│ UTC        ┆            ┆            ┆            ┆   ┆       ┆         ┆           ┆ 3aa-326b1e │
│            ┆            ┆            ┆            ┆   ┆       ┆         ┆           ┆ …          │
│ 2019-11-01 ┆ view       ┆ 1004237    ┆ 2053013555 ┆ … ┆ apple ┆ 1091.33 ┆ 519277091 ┆ 62fadce6-a │
│ 00:00:41   ┆            ┆            ┆ 631882655  ┆   ┆       ┆         ┆           ┆ a4a-4dde-9 │
│ UTC        ┆            ┆            ┆            ┆   ┆       ┆         ┆           ┆ 2fc-c04c22 │
│            ┆            ┆            ┆            ┆   ┆       ┆         ┆           ┆ …          │
│ 2019-11-01 ┆ view       ┆ 1307012    ┆ 2053013558 ┆ … ┆ apple ┆ 2342.15 ┆ 530857208 ┆ c69f9c63-7 │
│ 00:00:51   ┆            ┆            ┆ 920217191  ┆   ┆       ┆         ┆           ┆ 098-426c-9 │
│ UTC        ┆            ┆            ┆            ┆   ┆       ┆         ┆           ┆ 7d9-8cb94a │
│            ┆            ┆            ┆            ┆   ┆       ┆         ┆           ┆ …          │
└────────────┴────────────┴────────────┴────────────┴───┴───────┴─────────┴───────────┴────────────┘

### 2. how to select data using idiomatic polars style

In [16]:
df.sample(3).to_pandas()

,event_time,event_type,product_id,category_id,category_code,brand,price,user_id,user_session
0,2019-11-18 17:30:41 UTC,view,12500535,2053013556277805513,None,crown,35.88,526765906,2630981a-341a-4d78-84ce-ca22cab4b326
1,2019-11-01 06:21:50 UTC,view,26400187,2053013563651392361,None,None,196.14,547009646,d0c40b81-b03d-4175-8b9b-41536fcb250f
2,2019-11-23 08:18:43 UTC,view,1005239,2053013555631882655,electronics.smartphone,xiaomi,258.57,554959825,097843d0-489b-432c-97f4-8b7f65be8f6e

In [17]:
# sql select type
df.select(["brand", "price"]).head()

shape: (5, 2)
┌────────┬────────┐
│ brand  ┆ price  │
│ ---    ┆ ---    │
│ str    ┆ f64    │
╞════════╪════════╡
│ xiaomi ┆ 489.07 │
│ janome ┆ 293.65 │
│ creed  ┆ 28.31  │
│ lg     ┆ 712.87 │
│ xiaomi ┆ 183.27 │
└────────┴────────┘

In [20]:
# keep original columns and adds a new one
df.with_columns([
    (pl.col("price") * 100).alias("price_x_100")
]).head(2)

shape: (2, 10)
┌────────────┬────────────┬───────────┬───────────┬───┬────────┬───────────┬───────────┬───────────┐
│ event_time ┆ event_type ┆ product_i ┆ category_ ┆ … ┆ price  ┆ user_id   ┆ user_sess ┆ price_x_1 │
│ ---        ┆ ---        ┆ d         ┆ id        ┆   ┆ ---    ┆ ---       ┆ ion       ┆ 00        │
│ str        ┆ str        ┆ ---       ┆ ---       ┆   ┆ f64    ┆ i64       ┆ ---       ┆ ---       │
│            ┆            ┆ i64       ┆ i64       ┆   ┆        ┆           ┆ str       ┆ f64       │
╞════════════╪════════════╪═══════════╪═══════════╪═══╪════════╪═══════════╪═══════════╪═══════════╡
│ 2019-11-01 ┆ view       ┆ 1003461   ┆ 205301355 ┆ … ┆ 489.07 ┆ 520088904 ┆ 4d3b30da- ┆ 48907.0   │
│ 00:00:00   ┆            ┆           ┆ 563188265 ┆   ┆        ┆           ┆ a5e4-49df ┆           │
│ UTC        ┆            ┆           ┆ 5         ┆   ┆        ┆           ┆ -b1a8-ba5 ┆           │
│            ┆            ┆           ┆           ┆   ┆        ┆           ┆ 943…      ┆           │
│ 2019-11-01 ┆ view       ┆ 5000088   ┆ 205301356 ┆ … ┆ 293.65 ┆ 530496790 ┆ 8e5f4f83- ┆ 29365.0   │
│ 00:00:00   ┆            ┆           ┆ 610086603 ┆   ┆        ┆           ┆ 366c-4f70 ┆           │
│ UTC        ┆            ┆           ┆ 5         ┆   ┆        ┆           ┆ -860e-ca7 ┆           │
│            ┆            ┆           ┆           ┆   ┆        ┆           ┆ 417…      ┆           │
└────────────┴────────────┴───────────┴───────────┴───┴────────┴───────────┴───────────┴───────────┘

In [21]:
df.filter(
    pl.col("price") > 1_000
).head()

shape: (5, 9)
┌────────────┬────────────┬────────────┬────────────┬───┬───────┬─────────┬───────────┬────────────┐
│ event_time ┆ event_type ┆ product_id ┆ category_i ┆ … ┆ brand ┆ price   ┆ user_id   ┆ user_sessi │
│ ---        ┆ ---        ┆ ---        ┆ d          ┆   ┆ ---   ┆ ---     ┆ ---       ┆ on         │
│ str        ┆ str        ┆ i64        ┆ ---        ┆   ┆ str   ┆ f64     ┆ i64       ┆ ---        │
│            ┆            ┆            ┆ i64        ┆   ┆       ┆         ┆           ┆ str        │
╞════════════╪════════════╪════════════╪════════════╪═══╪═══════╪═════════╪═══════════╪════════════╡
│ 2019-11-01 ┆ view       ┆ 1004237    ┆ 2053013555 ┆ … ┆ apple ┆ 1091.33 ┆ 565404816 ┆ d9cf0ac4-c │
│ 00:00:27   ┆            ┆            ┆ 631882655  ┆   ┆       ┆         ┆           ┆ 3ec-4e1f-8 │
│ UTC        ┆            ┆            ┆            ┆   ┆       ┆         ┆           ┆ 3aa-326b1e │
│            ┆            ┆            ┆            ┆   ┆       ┆         ┆           ┆ …          │
│ 2019-11-01 ┆ view       ┆ 1005116    ┆ 2053013555 ┆ … ┆ apple ┆ 1013.86 ┆ 532647354 ┆ d2d3d2c6-6 │
│ 00:00:40   ┆            ┆            ┆ 631882655  ┆   ┆       ┆         ┆           ┆ 31d-489e-9 │
│ UTC        ┆            ┆            ┆            ┆   ┆       ┆         ┆           ┆ fb5-06f340 │
│            ┆            ┆            ┆            ┆   ┆       ┆         ┆           ┆ …          │
│ 2019-11-01 ┆ view       ┆ 1004241    ┆ 2053013555 ┆ … ┆ apple ┆ 1173.6  ┆ 565404816 ┆ d9cf0ac4-c │
│ 00:00:41   ┆            ┆            ┆ 631882655  ┆   ┆       ┆         ┆           ┆ 3ec-4e1f-8 │
│ UTC        ┆            ┆            ┆            ┆   ┆       ┆         ┆           ┆ 3aa-326b1e │
│            ┆            ┆            ┆            ┆   ┆       ┆         ┆           ┆ …          │
│ 2019-11-01 ┆ view       ┆ 1004237    ┆ 2053013555 ┆ … ┆ apple ┆ 1091.33 ┆ 519277091 ┆ 62fadce6-a │
│ 00:00:41   ┆            ┆            ┆ 631882655  ┆   ┆       ┆         ┆           ┆ a4a-4dde-9 │
│ UTC        ┆            ┆            ┆            ┆   ┆       ┆         ┆           ┆ 2fc-c04c22 │
│            ┆            ┆            ┆            ┆   ┆       ┆         ┆           ┆ …          │
│ 2019-11-01 ┆ view       ┆ 1307012    ┆ 2053013558 ┆ … ┆ apple ┆ 2342.15 ┆ 530857208 ┆ c69f9c63-7 │
│ 00:00:51   ┆            ┆            ┆ 920217191  ┆   ┆       ┆         ┆           ┆ 098-426c-9 │
│ UTC        ┆            ┆            ┆            ┆   ┆       ┆         ┆           ┆ 7d9-8cb94a │
│            ┆            ┆            ┆            ┆   ┆       ┆         ┆           ┆ …          │
└────────────┴────────────┴────────────┴────────────┴───┴───────┴─────────┴───────────┴────────────┘

In [28]:
df.filter(
    pl.col("brand").is_in(["apple", "samsung", "motorola"])
).head()

shape: (5, 9)
┌────────────┬────────────┬────────────┬────────────┬───┬─────────┬────────┬───────────┬───────────┐
│ event_time ┆ event_type ┆ product_id ┆ category_i ┆ … ┆ brand   ┆ price  ┆ user_id   ┆ user_sess │
│ ---        ┆ ---        ┆ ---        ┆ d          ┆   ┆ ---     ┆ ---    ┆ ---       ┆ ion       │
│ str        ┆ str        ┆ i64        ┆ ---        ┆   ┆ str     ┆ f64    ┆ i64       ┆ ---       │
│            ┆            ┆            ┆ i64        ┆   ┆         ┆        ┆           ┆ str       │
╞════════════╪════════════╪════════════╪════════════╪═══╪═════════╪════════╪═══════════╪═══════════╡
│ 2019-11-01 ┆ view       ┆ 1004258    ┆ 2053013555 ┆ … ┆ apple   ┆ 732.07 ┆ 532647354 ┆ d2d3d2c6- │
│ 00:00:02   ┆            ┆            ┆ 631882655  ┆   ┆         ┆        ┆           ┆ 631d-489e │
│ UTC        ┆            ┆            ┆            ┆   ┆         ┆        ┆           ┆ -9fb5-06f │
│            ┆            ┆            ┆            ┆   ┆         ┆        ┆           ┆ 340…      │
│ 2019-11-01 ┆ view       ┆ 4600658    ┆ 2053013563 ┆ … ┆ samsung ┆ 411.83 ┆ 526595547 ┆ aab33a9a- │
│ 00:00:05   ┆            ┆            ┆ 944993659  ┆   ┆         ┆        ┆           ┆ 29c3-4d50 │
│ UTC        ┆            ┆            ┆            ┆   ┆         ┆        ┆           ┆ -84c1-8a2 │
│            ┆            ┆            ┆            ┆   ┆         ┆        ┆           ┆ bc9…      │
│ 2019-11-01 ┆ view       ┆ 1005115    ┆ 2053013555 ┆ … ┆ apple   ┆ 949.47 ┆ 562079864 ┆ 0fe64462- │
│ 00:00:10   ┆            ┆            ┆ 631882655  ┆   ┆         ┆        ┆           ┆ 83eb-4131 │
│ UTC        ┆            ┆            ┆            ┆   ┆         ┆        ┆           ┆ -ab00-8e7 │
│            ┆            ┆            ┆            ┆   ┆         ┆        ┆           ┆ 64d…      │
│ 2019-11-01 ┆ view       ┆ 1002544    ┆ 2053013555 ┆ … ┆ apple   ┆ 458.28 ┆ 549256216 ┆ dcbdc6e4- │
│ 00:00:14   ┆            ┆            ┆ 631882655  ┆   ┆         ┆        ┆           ┆ cd49-4ee8 │
│ UTC        ┆            ┆            ┆            ┆   ┆         ┆        ┆           ┆ -95c5-e85 │
│            ┆            ┆            ┆            ┆   ┆         ┆        ┆           ┆ f3c…      │
│ 2019-11-01 ┆ cart       ┆ 1005014    ┆ 2053013555 ┆ … ┆ samsung ┆ 503.09 ┆ 533326659 ┆ 6b928be2- │
│ 00:00:14   ┆            ┆            ┆ 631882655  ┆   ┆         ┆        ┆           ┆ 2bce-4640 │
│ UTC        ┆            ┆            ┆            ┆   ┆         ┆        ┆           ┆ -8296-0ef │
│            ┆            ┆            ┆            ┆   ┆         ┆        ┆           ┆ df2…      │
└────────────┴────────────┴────────────┴────────────┴───┴─────────┴────────┴───────────┴───────────┘

In [36]:
# df.filter(
#     pl.col("brand").is_in(["apple", "samsung", "motorola"]),
#     pl.col("price") > 2_000,
# ).count(),

df.filter(
    pl.col("brand").is_in(["apple", "samsung", "motorola"]),
    pl.col("price") < 1_000,
).head()

shape: (5, 9)
┌────────────┬────────────┬────────────┬────────────┬───┬─────────┬────────┬───────────┬───────────┐
│ event_time ┆ event_type ┆ product_id ┆ category_i ┆ … ┆ brand   ┆ price  ┆ user_id   ┆ user_sess │
│ ---        ┆ ---        ┆ ---        ┆ d          ┆   ┆ ---     ┆ ---    ┆ ---       ┆ ion       │
│ str        ┆ str        ┆ i64        ┆ ---        ┆   ┆ str     ┆ f64    ┆ i64       ┆ ---       │
│            ┆            ┆            ┆ i64        ┆   ┆         ┆        ┆           ┆ str       │
╞════════════╪════════════╪════════════╪════════════╪═══╪═════════╪════════╪═══════════╪═══════════╡
│ 2019-11-01 ┆ view       ┆ 1004258    ┆ 2053013555 ┆ … ┆ apple   ┆ 732.07 ┆ 532647354 ┆ d2d3d2c6- │
│ 00:00:02   ┆            ┆            ┆ 631882655  ┆   ┆         ┆        ┆           ┆ 631d-489e │
│ UTC        ┆            ┆            ┆            ┆   ┆         ┆        ┆           ┆ -9fb5-06f │
│            ┆            ┆            ┆            ┆   ┆         ┆        ┆           ┆ 340…      │
│ 2019-11-01 ┆ view       ┆ 4600658    ┆ 2053013563 ┆ … ┆ samsung ┆ 411.83 ┆ 526595547 ┆ aab33a9a- │
│ 00:00:05   ┆            ┆            ┆ 944993659  ┆   ┆         ┆        ┆           ┆ 29c3-4d50 │
│ UTC        ┆            ┆            ┆            ┆   ┆         ┆        ┆           ┆ -84c1-8a2 │
│            ┆            ┆            ┆            ┆   ┆         ┆        ┆           ┆ bc9…      │
│ 2019-11-01 ┆ view       ┆ 1005115    ┆ 2053013555 ┆ … ┆ apple   ┆ 949.47 ┆ 562079864 ┆ 0fe64462- │
│ 00:00:10   ┆            ┆            ┆ 631882655  ┆   ┆         ┆        ┆           ┆ 83eb-4131 │
│ UTC        ┆            ┆            ┆            ┆   ┆         ┆        ┆           ┆ -ab00-8e7 │
│            ┆            ┆            ┆            ┆   ┆         ┆        ┆           ┆ 64d…      │
│ 2019-11-01 ┆ view       ┆ 1002544    ┆ 2053013555 ┆ … ┆ apple   ┆ 458.28 ┆ 549256216 ┆ dcbdc6e4- │
│ 00:00:14   ┆            ┆            ┆ 631882655  ┆   ┆         ┆        ┆           ┆ cd49-4ee8 │
│ UTC        ┆            ┆            ┆            ┆   ┆         ┆        ┆           ┆ -95c5-e85 │
│            ┆            ┆            ┆            ┆   ┆         ┆        ┆           ┆ f3c…      │
│ 2019-11-01 ┆ cart       ┆ 1005014    ┆ 2053013555 ┆ … ┆ samsung ┆ 503.09 ┆ 533326659 ┆ 6b928be2- │
│ 00:00:14   ┆            ┆            ┆ 631882655  ┆   ┆         ┆        ┆           ┆ 2bce-4640 │
│ UTC        ┆            ┆            ┆            ┆   ┆         ┆        ┆           ┆ -8296-0ef │
│            ┆            ┆            ┆            ┆   ┆         ┆        ┆           ┆ df2…      │
└────────────┴────────────┴────────────┴────────────┴───┴─────────┴────────┴───────────┴───────────┘

# computation on the select context

In [37]:
df.select([
    pl.col("product_id").n_unique()
])

shape: (1, 1)
┌────────────┐
│ product_id │
│ ---        │
│ u32        │
╞════════════╡
│ 190662     │
└────────────┘

In [38]:
df.select([
    pl.col("price").min().alias("min"),
    pl.col("price").mean().alias("mean"),
    pl.col("price").median().alias("median"),
    pl.col("price").max().alias("max"),
    pl.col("price").std().alias("std"),
])

shape: (1, 5)
┌─────┬────────────┬────────┬─────────┬──────────┐
│ min ┆ mean       ┆ median ┆ max     ┆ std      │
│ --- ┆ ---        ┆ ---    ┆ ---     ┆ ---      │
│ f64 ┆ f64        ┆ f64    ┆ f64     ┆ f64      │
╞═════╪════════════╪════════╪═════════╪══════════╡
│ 0.0 ┆ 292.459317 ┆ 165.77 ┆ 2574.07 ┆ 355.6745 │
└─────┴────────────┴────────┴─────────┴──────────┘

In [40]:
df.select([
    pl.col("price")
]).describe()

shape: (9, 2)
┌────────────┬─────────────┐
│ statistic  ┆ price       │
│ ---        ┆ ---         │
│ str        ┆ f64         │
╞════════════╪═════════════╡
│ count      ┆ 6.7501979e7 │
│ null_count ┆ 0.0         │
│ mean       ┆ 292.459317  │
│ std        ┆ 355.6745    │
│ min        ┆ 0.0         │
│ 25%        ┆ 69.24       │
│ 50%        ┆ 165.77      │
│ 75%        ┆ 360.34      │
│ max        ┆ 2574.07     │
└────────────┴─────────────┘

In [42]:
price = df.select([
    pl.col("price")
])
price.sample(3)

shape: (3, 1)
┌───────┐
│ price │
│ ---   │
│ f64   │
╞═══════╡
│ 124.3 │
│ 136.4 │
│ 23.4  │
└───────┘

In [47]:
probs = [0.0, 0.25, 0.5, 0.75, 1.0]
percentiles = [price.quantile(prob)[0,0] for prob in probs]
pd.DataFrame(dict(probs=probs, percentiles=percentiles))

   probs  percentiles
0   0.00         0.00
1   0.25        69.24
2   0.50       165.77
3   0.75       360.34
4   1.00      2574.07